<section>
  <div class="message-window" id="message-window">
    <header class="messg-header">
      <div class="messg-title">
        <h5>
          <i class="fa-solid fa-jedi"></i>
          Cooper Chat
          <i class="fa-solid fa-jedi"></i>
        </h5>
      </div>
    </header>

    <main class="mesger-chat">
      <div class="msg left-msg">
        <div class="msg-img"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Cooper</div>
            <div class="msg-info-time" id="msg-info-time"></div>
          </div>

          <div class="msg-text">
            Hi, welcome to Master ChatBot! Go ahead and send me a message. 😉
          </div>
        </div>
      </div>
    </main>

    <form class="mesger-input-area">
      <input
        type="text"
        class="msger-input"
        placeholder="Enter your message..."
        autofocus
      />
      <button type="submit" class="msger-send-btn">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>
